body{
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 10;
    background-color: #0C0C0C;
    color: white;
    user-select: none;
    text-align: center;
}

.counter {
    font-size: 2em;
    margin-bottom: 20;
    text-align: center;
    color: yellow;
}

.image-container {
    touch-action: manipulation;
    position: relative;
    width: 100%;
    overflow: visible;
}

.coin {
    position: absolute;
    width: 30px; /* Adjust size as needed */
    pointer-events: none;
    z-index: 5;
}

.leader {
    height: 30px;
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 40;
    border-radius: 7px;
    color: white;
    background-color: #5b5b5b;
    border-color: #0C0C0C;
    border: black;
}

.progress-container {
    width: 80%;
    max-width: 600px;
    background-color: #2C2C2C;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.progress-bar {
    height: 10px;
    width: 0;
    background-color: yellow;
    text-align: center;
    line-height: 10px;
    color: white;
    font-weight: normal;
    border-radius: 5px;
}

.pavelimage {
    position: relative;
    width: 60%;
    z-index: 10;
    user-select: none; /* Disable text selection */
    -webkit-user-drag: none; /* Prevent dragging on Safari and Chrome */
    -webkit-touch-callout: none; /* Disable long press on Safari */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.pavelimage:hover {
    cursor: pointer;
}

.pavelimage:active{
    transform: scale(1.02);
}