body{
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #0C0C0C;
    color: white;
    user-select: none;
}

.counter {
    font-size: 2em;
    margin-bottom: 20;
}

.image-container {
    touch-action: manipulation;
}

.leader {
    height: 30px;
    width: 80%;
    display: block;
    margin: 0 auto;
}

.progress-container {
    width: 80%;
    max-width: 600px;
    background-color: #2C2C2C;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.progress-bar {
    height: 10px;
    width: 0;
    background-color: #FF4444;
    text-align: center;
    line-height: 10px;
    color: white;
    font-weight: normal;
    border-radius: 5px;
}

.pavelimage:hover {
    opacity: 0.9;
    cursor: pointer;
}

.pavelimage:active{
    opacity: 0.8;
    transform: scale(1.02);
}